@model Timataka.Core.Models.Entities.Dicipline

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dicipline</h4>
	<hr />
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.SportId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ApplicationSportId)
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(model => model.Id)
				</td>
				<td>
					@Html.DisplayFor(model => model.Name)
				</td>
				<td>
					@Html.DisplayFor(model => model.SportId)
				</td>
				<td>
					@Html.DisplayFor(model => model.ApplicationSportId)
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
