@model Timataka.Core.Models.Entities.Competition

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<section class="content">

    <div>
        <h4>@Model.Name</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WebPage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WebPage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sponsor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sponsor)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-competitionId="@Model.Id" class="btn btn-warning-outline btn-sm">Edit</a> 
        <a asp-controller="Admin" asp-action="Competitions" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>