@model Timataka.Core.Models.Entities.Competition

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<section class="content">
    <h2>Details</h2>

    <div>
        <h4>Competition</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WebPage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WebPage)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-controller="Admin" asp-action="Competitions">Back to List</a>
    </div>
</section>