@model Timataka.Core.Models.ViewModels.CompetitionViewModels.ManagesCompetitionViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<section class="content">
    <h4>Edit Role</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditManager">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CompetitionId" value="@Model.CompetitionId" />
                <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                <div class="form-group">
                    <label asp-for="Role"></label>
                    <select name="Role" class="form-control">
                        @foreach (var item in ViewBag.roles)
            {
                <option value="@item.Value" id="@item.Value">@item.Text</option>
}
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-controller="Admin" asp-action="Personnel" asp-route-competitionId="@Model.CompetitionId" class="btn btn-secondary-outline btn-sm">Back to List</a>
                </div>
            </form>
        </div>
    </div>

    
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
