@model Timataka.Core.Models.Dto.Contestant.AddContestantDto

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<section class="content">

    <h4>@Model.FullName</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AddContestant" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <table>

                    @for (int i = 0; i < Model.AddContestantViewModels.Count(); i++)
                    {
                        <input type="hidden" asp-for="@Model.AddContestantViewModels[i].UserId" value="@Model.AddContestantViewModels[i].UserId" />
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="@Model.AddContestantViewModels[i].Add" class="control-label"></label>
                                    <input asp-for="@Model.AddContestantViewModels[i].Add" class="form-control" />
                                    <span asp-validation-for="@Model.AddContestantViewModels[i].Add" class="text-danger"></span>
                                </div>

                            </td>
                            <td>  @Model.AddContestantViewModels[i].EventName  </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="@Model.AddContestantViewModels[i].HeatId">Heat</label>
                                    <select class="form-control" asp-for="@Model.AddContestantViewModels[i].HeatId" asp-items="@Model.AddContestantViewModels[i].Heats"></select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="@Model.AddContestantViewModels[i].Bib" class="control-label"></label>
                                    <input asp-for="@Model.AddContestantViewModels[i].Bib" class="form-control" />
                                    <span asp-validation-for="@Model.AddContestantViewModels[i].Bib" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="@Model.AddContestantViewModels[i].ChipNumber" class="control-label"></label>
                                    <input asp-for="@Model.AddContestantViewModels[i].ChipNumber" class="form-control" />
                                    <span asp-validation-for="@Model.AddContestantViewModels[i].ChipNumber" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="@Model.AddContestantViewModels[i].Team" class="control-label"></label>
                                    <input asp-for="@Model.AddContestantViewModels[i].Team" class="form-control" />
                                    <span asp-validation-for="@Model.AddContestantViewModels[i].Team" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                    }

                </table>

                <div class="form-group">
                    <input type="submit" value="Add To Events" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="CompetitionInstance" asp-action="SelectContestant" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>

</section>

