@model Timataka.Core.Models.ViewModels.DeviceViewModels.CreateDeviceInEventViewModel
@{
    ViewData["Title"] = "AssignDevice";
    Layout = "_AdminLayout";
}
<section class="content">

    <h4>Assign Device</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AssignDevice">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EventId">Event</label>
                    <select asp-for="EventId" class="form-control"
                            asp-items="@(new SelectList(@ViewBag.Events, "Id", "Name"))"></select>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DeviceId">Device</label>
                    <select class="form-control" id="DeviceId" name="DeviceId" asp-for="DeviceId"
                            asp-items="@(new SelectList(@ViewBag.Devices, "Id", "Name"))"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Assign" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="CompetitionInstance"
           asp-action="Devices"
           asp-route-competitionInstanceId=@ViewContext.RouteData.Values["competitionInstanceId"] class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#EventId').change(function () {
                var url = '@Url.Content("~/")' + "CompetitionInstance/GetUnassignedDevices";
                var ddlsource = "#EventId";
                $.getJSON(url, { EventId: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#DeviceId").empty();
                    $.each(data, function (i, device) {
                        items = items + "<option value='" + device.value + "'>" + device.text + "</option>";
                    });
                    $('#DeviceId').html(items);
                });
            });
        });
    </script>

}


