@model IEnumerable<Timataka.Core.Models.ViewModels.DeviceViewModels.DeviceInEventViewModel>

@{
    ViewBag.Title = "Devices";
    ViewData["Title"] = "Devices";
    Layout = "_AdminLayout";
}

<<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title"> Devices in @ViewBag.CompetitionInstance.Name</span>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            <form asp-action="" method="get">
                <div class="input-group">
                    <input type="text" name="Search" value="" class="form-control boxed rounded-s" placeholder="Search for devices in competition instance...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            <a class="btn btn-primary btn-sm rounded-s"
               asp-controller="CompetitionInstance"
               asp-action="AssignDevice"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
               asp-route-competitionInstanceId="@ViewBag.CompetitionInstance.Id">Assign Device</a>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Device</th>
                                                <th>Active</th>
                                                <th>Event</th>
                                                <th>Time</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.DeviceName</td>
                                                    <td>@item.Active</td>
                                                    <td>@item.EventName</td>
                                                    <td>@item.DateFrom.TimeOfDay - @item.DateTo.TimeOfDay</td>
                                                    <td>
                                                        <a class="btn btn-warning-outline btn-sm"
                                                           asp-controller="CompetitionInstance"
                                                           asp-action="UnassignDevice"
                                                           asp-route-deviceId="@item.DevicesInEvent.DeviceId"
                                                           asp-route-eventId="@item.DevicesInEvent.EventId"
                                                           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                           asp-route-competitionInstanceId="@ViewBag.CompetitionInstance.Id">Unassign</a>

                                                        <a class="btn btn-success-outline btn-sm"
                                                           asp-controller="Device"
                                                           asp-action="Details"
                                                           asp-route-deviceId="@item.DevicesInEvent.DeviceId">Details</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            

            <a asp-controller="Admin"
               asp-action="CompetitionInstance"
               asp-route-competitionInstanceId="@ViewBag.CompetitionInstance.Id"
               class="btn btn-secondary-outline btn-sm">Back to Events</a>
        </div>
    </div>
</section>
