@model Timataka.Core.Models.Dto.CompetitionInstanceDTO.MarkersDto

@{
    ViewBag.Title = "Markers";
    ViewData["Title"] = "Markers";
    Layout = "_AdminLayout";
}

<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    <a asp-controller="Admin"
                       asp-action="Competition"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]">@Model.CompetitionName</a> /

                    <a asp-controller="Admin"
                       asp-action="CompetitionInstance"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]">@Model.CompetitionInstanceName</a> /

                    Markers
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pt-2">
            
            <a asp-controller="CompetitionInstance"
               asp-action="Contestants"
               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               class="btn btn-primary btn-sm rounded-s">Contestants</a>
            <a asp-controller="CompetitionInstance"
               asp-action="Devices"
               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               class="btn btn-primary btn-sm rounded-s">Devices</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Location</th>
                                            <th>Type</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model.Markers)
                                        {
                                            <tr>
                                                <td>@item.MarkerTime.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                <td>@item.Location</td>
                                                <td>@item.Type</td>
                                                <td>
                                                    <a class="btn btn-warning-outline btn-sm"
                                                       asp-controller="CompetitionInstance"
                                                       asp-action="AssignMarker"
                                                       asp-route-markerId="@item.Id"
                                                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]">Assign</a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div>
        <a asp-controller="Admin"
           asp-action="CompetitionInstance"
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
           class="btn btn-secondary-outline btn-sm">Back to Events</a>
    </div>
</section>
