@model Timataka.Core.Models.Dto.CompetitionInstanceDTO.MarkersDto

@{
    ViewBag.Title = "Markers";
    ViewData["Title"] = "Markers";
    Layout = "_AdminLayout";
}

<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    <a asp-controller="Admin"
                       asp-action="Competition"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]">@Model.CompetitionName</a> /

                    <a asp-controller="Admin"
                       asp-action="CompetitionInstance"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]">@Model.CompetitionInstanceName</a> /

                    Markers
                </span>
            </div>
        </div>
    </div>
    <div class="row">



            <div class="col-md-6">
                <a asp-controller="Event"
                   asp-action="Create"
                   asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                   asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                   class="btn btn-primary btn-sm rounded-s">Add Event</a>

                <a asp-controller="CompetitionInstance"
                   asp-action="Devices"
                   asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                   asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                   class="btn btn-primary btn-sm rounded-s">Devices</a>

                <a asp-controller="CompetitionInstance"
                   asp-action="Markers"
                   asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                   asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                   class="btn btn-primary btn-sm rounded-s">Markers</a>
                <a asp-controller="CompetitionInstance"
                   asp-action="Contestants"
                   asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                   asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                   class="btn btn-primary btn-sm rounded-s">Contestants</a>
            </div>



    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Time</th>
                                                <th>Location</th>
                                                <th>Type</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Markers)
                                            {
                                                <tr>
                                                    <td>@item.Time</td>
                                                    <td>@item.Location</td>
                                                    <td>@item.Type</td>
                                                    <td>
                                                        <a class="btn btn-warning-outline btn-sm"
                                                           asp-controller="CompetitionInstance"
                                                           asp-action="AssignMarker"
                                                           asp-route-markerId="@item.Id"
                                                           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]">Assign</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
