@model IEnumerable<Timataka.Core.Models.ViewModels.HomeViewModels.ResultViewModel>

@{
    Layout = "_Layout";
}
<section class="content">
    <div class="title-block" style="margin:10px;">

        <div class="row">
            <div class="col-md-12">
                <h4>
                    <span class="title">
                        <a asp-controller="Home"
                           asp-action="Competition"
                           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]">@ViewBag.CompetitionName</a> /

                        <a asp-controller="Home"
                           asp-action="instance"
                           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                           asp-route-instanceId="@ViewContext.RouteData.Values["instanceId"]">@ViewBag.CompetitionInstanceName</a> /

                        @ViewBag.EventName

                    </span>
                </h4>

            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <h6 class="title" style="margin-top:12px; margin:12px;"> @ViewBag.CategoryName</h6>
                        <div class="card" style="margin-top: 10px; margin-bottom: 15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>BIB</th>
                                            <th>Nafn</th>
                                            <th>Fæðingarár</th>
                                            <th>Félag</th>
                                            <th>Land</th>
                                            <th>Byssutími (Flögutími)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @i
                                                </td>
                                                <td>
                                                    @item.Bib
                                                </td>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @item.DateOfBirth.Year
                                                </td>
                                                <td>
                                                    @item.Club
                                                </td>
                                                <td>
                                                    @item.Country
                                                </td>
                                                <td>
                                                    @item.GunTime (@item.ChipTime)
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>

