@using System.Globalization
@model Timataka.Core.Models.Dto.AdminDTO.CompetitionDto

@{
    Layout = "_Layout";
}
<section class="content">
    <div class="title-block" style="margin:10px;">

        <div class="row">
            <div class="col-md-12">
                <h4><span class="title"> @Model.Competiton.Name </span></h4>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <form asp-action="Competition" method="get">
                <div class="input-group" style="margin-bottom:10px;">
                    <input type="text" name="Search" value="" class="form-control boxed rounded-s" placeholder="Leita eftir mótseintaki...">
                </div>
            </form>
        </div>
        
    </div>
    


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top: 10px; margin-bottom: 15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mótseintak</th>
                                                <th>Dags.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Instances)
                                            {
                                                if (item.Deleted == false)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a asp-controller="Home" asp-action="Instance" asp-route-instanceId="@item.Id" asp-route-competitionId="@item.CompetitionId">@item.Name</a>
                                                        </td>
                                                        <td>
                                                            @item.DateFrom.ToString("dd. MMM yyyy", CultureInfo.CreateSpecificCulture("is-IS"))
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>

