@model IEnumerable<Timataka.Core.Models.ViewModels.HomeViewModels.ResultViewModel>

@{
    Layout = "_Layout";
}
<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    <a asp-controller="Home"
                       asp-action="Competition"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]">@ViewBag.CompetitionName</a> /

                    <a asp-controller="Home"
                       asp-action="instance"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-instanceId="@ViewContext.RouteData.Values["instanceId"]">@ViewBag.CompetitionInstanceName</a> /

                    @ViewBag.EventName
                </span>


            </div>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-md-6">

        SPURNING HVORT ÞAÐ EIGI AÐ BYRTA CATEGORIES
            <a asp-controller="Admin"
               asp-action="Categories"
               asp-route-competitionId="ViewContext.RouteData.Values["competitionId"]"
               asp-route-competitionInstanceId="ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-eventId="Model.Event.Id"
               class="btn btn-primary btn-sm rounded-s">Categories</a>

        </div>
    </div>
    -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Rank</th>
                                                <th>BIB</th>
                                                <th>Name</th>
                                                <th>Year of birth</th>
                                                <th>Club</th>
                                                <th>Country</th>
                                                <th>Guntime (Chiptime)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i = 1;}
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @i
                                                    </td>
                                                    <td>
                                                        @item.Bib
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.DateOfBirth.Year
                                                    </td>
                                                    <td>
                                                        @item.Club
                                                    </td>
                                                    <td>
                                                        @item.Country
                                                    </td>
                                                    <td>
                                                        @item.GunTime (@item.ChipTime)
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>

