@using System.Globalization
@model Timataka.Core.Models.ViewModels.HomeViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row my-4">
        <div class="col-lg-8">
            <img class="img-fluid rounded" src="~/images/timatakaLogo.png" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">

                <div class="card h-100" style="padding: 5px;">
                    <div class="">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#all">Allt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#athletics">Hlaup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#cycling">Hjól</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#other-sports">Annað</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active show" id="all">
                                <div class="card-body">
                                    <h4 class="card-title" style="text-align: center;">Síðustu Úrslit</h4>
                                    <div>
                                        <table style="width: 100%">
                                            @foreach (var item in Model.LatestResults)
                    {
                        <tr>
                            <th>
                                <a asp-controller="Home" asp-action="Instance"
                                   asp-route-competitionId="@item.CompetitionId"
                                   asp-route-instanceId="@item.CompetitionInstanceId"><span>@item.CompetitionName </span></a>
                            </th>
                            <th><span style="float: right;">@item.Date.ToString("dd. MMM yyyy", CultureInfo.CreateSpecificCulture("is-IS"))</span></th>
                        </tr>
}


                                        </table>
                                    </div>
                                    <h4 class="card-title" style="text-align: center;margin-top:12px;">Næstu Viðburðir</h4>
                                    <div>
                                        <table style="width: 100%">
                                            @foreach (var item in Model.UpcomingEvents)
                    {
                        <tr>
                            <th>
                                <a asp-controller="Home" asp-action="Instance"
                                   asp-route-competitionId="@item.CompetitionId"
                                   asp-route-instanceId="@item.CompetitionInstanceId"><span>@item.CompetitionName </span></a>
                            </th>
                            <th><span style="float: right;">@item.Date.ToString("dd. MMM HH:mm", CultureInfo.CreateSpecificCulture("is-IS"))</span></th>
                        </tr>
}
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="athletics">
                                <div class="card-body">
                                    <h4 class="card-title" style="text-align: center;">Síðustu Úrslit</h4>


                                    <div>
                                        <table style="width: 100%">
                                            @foreach (var item in Model.LatestAthleticsResults)
                    {
                        <tr>
                            <th>
                                <a asp-controller="Home" asp-action="Instance"
                                   asp-route-competitionId="@item.CompetitionId"
                                   asp-route-instanceId="@item.CompetitionInstanceId"><span>@item.CompetitionName </span></a>
                            </th>
                            <th><span style="float: right;">@item.Date.ToString("dd. MMM yyyy", CultureInfo.CreateSpecificCulture("is-IS"))</span></th>
                        </tr>
}


                                        </table>

                                    </div>

                                    <h4 class="card-title" style="text-align: center;margin-top:12px;">Næstu Viðburðir</h4>
                                    <div>
                                        <table style="width: 100%">
                                            @foreach (var item in Model.UpcomingAthleticsEvents)
                    {
                        <tr>
                            <th>
                                <a asp-controller="Home" asp-action="Instance"
                                   asp-route-competitionId="@item.CompetitionId"
                                   asp-route-instanceId="@item.CompetitionInstanceId"><span>@item.CompetitionName </span></a>
                            </th>
                            <th><span style="float: right;">@item.Date.ToString("dd. MMM hh:mm", CultureInfo.CreateSpecificCulture("is-IS"))</span></th>
                        </tr>
}


                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="cycling">
                                <div class="card-body">
                                    <h4 class="card-title" style="text-align: center;">Síðustu Úrslit</h4>

                                    <div>
                                        <table style="width: 100%">
                                            @foreach (var item in Model.LatestCyclingResults)
                    {
                        <tr>
                            <th>
                                <a asp-controller="Home" asp-action="Instance"
                                   asp-route-competitionId="@item.CompetitionId"
                                   asp-route-instanceId="@item.CompetitionInstanceId"><span>@item.CompetitionName </span></a>
                            </th>
                            <th><span style="float: right;">@item.Date.ToString("dd. MMM yyyy", CultureInfo.CreateSpecificCulture("is-IS"))</span></th>
                        </tr>
}


                                        </table>

                                    </div>


                                    <h4 class="card-title" style="text-align: center;margin-top:12px;">Næstu Viðburðir</h4>

                                    <div>
                                        <table style="width: 100%">
                                            @foreach (var item in Model.UpcomingCyclingEvents)
                    {
                        <tr>
                            <th>
                                <a asp-controller="Home" asp-action="Instance"
                                   asp-route-competitionId="@item.CompetitionId"
                                   asp-route-instanceId="@item.CompetitionInstanceId"><span>@item.CompetitionName </span></a>
                            </th>
                            <th><span style="float: right;">@item.Date.ToString("dd. MMM hh:mm", CultureInfo.CreateSpecificCulture("is-IS"))</span></th>
                        </tr>
}


                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="other-sports">
                                <div class="card-body">
                                    <h4 class="card-title" style="text-align: center;">Síðustu Úrslit</h4>
                                    <div>
                                        <table style="width: 100%">
                                            @foreach (var item in Model.LatestOtherResults)
                    {
                        <tr>
                            <th>
                                <a asp-controller="Home" asp-action="Instance"
                                   asp-route-competitionId="@item.CompetitionId"
                                   asp-route-instanceId="@item.CompetitionInstanceId"><span>@item.CompetitionName </span></a>
                            </th>
                            <th><span style="float: right;">@item.Date.ToString("dd. MMM yyyy", CultureInfo.CreateSpecificCulture("is-IS"))</span></th>
                        </tr>
}


                                        </table>
                                    </div>
                                    <h4 class="card-title" style="text-align: center;margin-top:12px;">Næstu Viðburðir</h4>
                                    <div>
                                        <table style="width: 100%">
                                            @foreach (var item in Model.UpcomingOtherEvents)
                    {
                        <tr>
                            <th>
                                <a asp-controller="Home" asp-action="Instance"
                                   asp-route-competitionId="@item.CompetitionId"
                                   asp-route-instanceId="@item.CompetitionInstanceId"><span>@item.CompetitionName </span></a>
                            </th>
                            <th><span style="float: right;">@item.Date.ToString("dd. MMM hh:mm", CultureInfo.CreateSpecificCulture("is-IS"))</span></th>
                        </tr>
}
                                        </table>
                                    </div>
                                </div>
                            </div>



                        </div>

                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Tímataka, á réttum tíma!</p>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Úrslit</h4>
                    <div>
                        <img class="img-fluid rounded" src="~/images/hlaup.jpg" alt="">
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home"
                       class="btn btn-primary btn-sm" style="width:100%"
                       asp-action="Results">Öll úrslit</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Starfsemin</h4>
                    <p class="card-text">
                        Við sérhæfum okkur í hvers konar tímatöku með flögutímatökutækjum frá MyLaps og markmyndavélum frá FinishLynx.
                        Við bjóðum einnig uppá tengda þjónustu svo sem móttöku skráninga, ráðgjöf og leigu á búnaði.

                    </p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home"
                       class="btn btn-primary btn-sm" style="width:100%"
                       asp-action="About">Nánar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Viðburðir</h4>
                    <div>

                        <img class="img-fluid rounded" src="~/images/hjol2.png" alt="">

                    </div>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home"
                       class="btn btn-primary btn-sm" style="width:100%"
                       asp-action="Upcoming">Næstu viðburðir</a>
                </div>
            </div>
        </div>
        </div>
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Tæknin</h4>
                        <p class="card-text">
                            Tímatökutækin lesa merki frá flögum sem festar eru á keppendur og gefa upplýsingar um tíma keppenda á þeim stað sem tækið er staðsett.
                            Þetta ásamt sérsmíðaðri lausn okkar gerir mögulegt að birta úrslit í rauntíma.
                        </p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Hafa samband</h4>
                        <div>
                            <center>
                                Brautarholt 7<br />
                                400 Ísafirði <br />
                                             <a href="mailto:timataka@timataka.net">timataka@timataka.net</a> <br />
                                858-7373 - Birgir<br />
                                865-5194 - Helgi<br />
                            </center>
                            
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Nákvæmni</h4>
                        <p class="card-text">
                            Við leggjum metnað okkar í að uppfylla allar þær kröfur sem gerðar eru til tímatökutækja í öllum greinum hverju sinni.
                            Búnaðurinn sem við notum hefur verið í þróun í yfir 20 ár og er alþjóðlega viðurkenndur mælingabúnaður.
                        </p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
</div>