@using System.Globalization
@using Timataka.Core.Models.Entities
@model Timataka.Core.Models.Dto.AdminDTO.CompetitionInstanceDTO

@{
    Layout = "_Layout";
}
<section class="content">
    <div class="title-block" style="margin:10px;">

        <div class="row">
            <div class="col-md-12">
                <h4>
                    <span class="title">
                        <a asp-controller="Home"
                           asp-action="Competition"
                           asp-route-competitionId="@Model.Competition.Id">@Model.Competition.Name</a> /

                        @Model.CompetitionInstance.Name
                    </span>
                </h4>
            </div>
        </div>

    </div>
    @foreach (var e in Model.Events)
    {
        if (e.Deleted == false)
        {
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-12">
                    <div class="card">
                        <section class="section">
                            <div class="col-md-12">
                                <h5 class="title" style="margin-top:12px; margin:12px;"><a asp-controller="Home" asp-action="Event"
                                                                                           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                                                           asp-route-instanceId="@ViewContext.RouteData.Values["instanceId"]"
                                                                                           asp-route-eventId="@e.Id">@e.Name</a> - @e.DateFrom.Date.ToString("dd. MMM yyyy", CultureInfo.CreateSpecificCulture("is-IS"))</h5>
                                
                                <div class="card" style="margin-top: 10px; margin-bottom: 15px;">

                                    <section class="example">
                                        <div class="table-responsive">
                                            <table class="table table-striped">

                                                <thead>
                                                <tr>
                                                    <th>Flokkar</th>
                                                    <th>Aldursbil</th>
                                                    <th>Kyn</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var item in @e.Categories)
                                                {

                                                    <tr>
                                                        <td>
                                                            <a asp-controller="Home" asp-action="Category"
                                                               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                               asp-route-instanceId="@ViewContext.RouteData.Values["instanceId"]"
                                                               asp-route-eventId="@e.Id"
                                                               asp-route-categoryId="@item.Id">@item.Name</a>
                                                        </td>
                                                        <td>
                                                            @item.AgeFrom - @item.AgeTo
                                                        </td>

                                                        @if (item.Gender == Gender.Male)
                                                        {
                                                            <td>
                                                                KK
                                                            </td>
                                                        }
                                                        @if (item.Gender == Gender.Female)
                                                        {
                                                            <td>
                                                                KVK
                                                            </td>
                                                        }
                                                        @if (item.Gender == Gender.All)
                                                        {
                                                            <td>
                                                                Öll
                                                            </td>
                                                        }


                                                    </tr>
                                                    
                                                }
                                                </tbody>


                                            </table>
                                        </div>

                                    </section>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        }
    }

</section>

