@using Timataka.Core.Models.ViewModels.ContestantViewModels
@model Timataka.Core.Models.ViewModels.ContestantViewModels.AddContestantToHeatViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<section class="content">

    <h4>Add @ViewBag.UserName to Heat @ViewContext.RouteData.Values["heatId"] </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddContestant">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" value="@ViewContext.RouteData.Values["userId"]" />
                <input type="hidden" asp-for="Modified" value="@DateTime.Now" />
                <input type="hidden" asp-for="HeatId" value="@ViewContext.RouteData.Values["heatId"]" />
                <div class="form-group">
                    <label asp-for="Bib" class="control-label"></label>
                    <input asp-for="Bib" class="form-control" />
                    <span asp-validation-for="Bib" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Team" class="control-label"></label>
                    <input asp-for="Team" class="form-control" />
                    <span asp-validation-for="Team" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChipNumber"></label>
                    <input asp-for="ChipNumber" value="0" class="form-control" />
                    <span asp-validation-for="ChipNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Contestant" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Admin" asp-action="Heat" 
           asp-route-heatId="@ViewContext.RouteData.Values["heatId"]" 
           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" 
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" 
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" 
           
           class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>

</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
