@model Timataka.Core.Models.ViewModels.EventViewModels.AddContestantToEventViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<section class="content">

    <h4>Add Contestant In Heat </h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddContestant">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ContestantInEvent.HeatId" value="@ViewBag.heatId" />
                <div class="form-group">
                    <label asp-for="ContestantInEvent.Bib" class="control-label"></label>
                    <input asp-for="ContestantInEvent.Bib" class="form-control" />
                    <span asp-validation-for="ContestantInEvent.Bib" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContestantInEvent.Team" class="control-label"></label>
                    <input asp-for="ContestantInEvent.Team" class="form-control" />
                    <span asp-validation-for="ContestantInEvent.Team" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="ContestantInEvent.Modified" value="@DateTime.Now" />
                <div class="form-group">
                    <label asp-for="UserId"></label>
                    <select asp-for="UserId" name="UserId" class="form-control">
                        @foreach (var item in ViewBag.users)
            {
                <option value="@item.Value" id="@item.Value">@item.Text</option>
}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Contestant" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Admin" asp-action="Heat" 
           asp-route-heatId="@ViewContext.RouteData.Values["heatId"]" 
           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" 
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" 
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" 
           
           class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>

</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
