@model Timataka.Core.Models.ViewModels.ChipViewModels.ChipInHeatViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<section class="content">
    <h2>Assign Chip To User</h2>

    <h4>Chips In Heat</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AssignChip">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="HeatId" value="@ViewContext.RouteData.Values["heatId"]" />
                <div class="form-group">
                    <label asp-for="Valid"></label>
                    <select name="Valid" class="form-control">
                        <option value="true" id="true">True</option>
                        <option value="false" id="false">False</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="UserId"></label>
                    <select asp-for="UserId" name="UserId" class="form-control">
                        @foreach (var item in ViewBag.Users)
                        {
                            <option value="@item.Value" id="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ChipCode"></label>
                    <select asp-for="ChipCode" name="ChipCode" class="form-control">
                        @foreach (var item in ViewBag.Chips)
                        {
                            <option value="@item.Value" id="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Assign Chip" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Heat" asp-action="Chips" 
           asp-route-heatId="@ViewContext.RouteData.Values["heatId"]" 
           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
           class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>

</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
