@model Timataka.Core.Models.ViewModels.ChipViewModels.ChipInHeatViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<section class="content">

    <div>
        <h4>Chip In Heat</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.ChipCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ChipCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HeatId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HeatId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HeatNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HeatNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastCompetitionInstanceId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastCompetitionInstanceId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastCompetitionInstanceName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastCompetitionInstanceName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastSeen)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastSeen)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastUserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastUserId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastUserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastUserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastUserSsn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastUserSsn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valid)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valid)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-controller="Heat" asp-action="EditChip" 
           asp-route-heatId="@ViewContext.RouteData.Values["heatId"]" 
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" 
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" 
           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" 
           asp-route-chipCode="@Model.ChipCode" 
           asp-route-userId="@Model.UserId" class="btn btn-warning-outline btn-sm">Edit</a> 

        <a asp-controller="Heat" asp-action="Chips"
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
           asp-route-heatId="@ViewContext.RouteData.Values["heatId"]" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>