@model Timataka.Core.Models.ViewModels.HeatViewModels.ContestantInHeatViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<section class="content">

    <div>
        <h4>@Model.Name</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Bib)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Bib)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HeatNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HeatNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ssn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ssn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Team)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Team)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HeatId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HeatId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="EditContestant"
           asp-route-heatId="@Model.HeatId" 
           asp-route-userId="@Model.UserId"
           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
           class="btn btn-warning-outline btn-sm">Edit</a> 
        <a asp-controller="Admin" 
           asp-action="Heat" 
           asp-route-heatId="@Model.HeatId"
           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
           class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>