@model Timataka.Core.Models.ViewModels.ChipViewModels.ChipInHeatViewModel

@{
    ViewData["Title"] = "EditChip";
    Layout = "_AdminLayout";
}

<section class="content">
    <h4>Edit Chip In Heat</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditChip">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                <input type="hidden" asp-for="ChipCode" value="@Model.ChipCode" />
                <input type="hidden" asp-for="HeatId" value="@Model.HeatId" />
                <div class="form-group">
                    <label asp-for="Valid"></label>
                    <select name="Valid" class="form-control">
                        <option value="true" id="true">True</option>
                        <option value="false" id="false">False</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Heat" asp-action="Chips" 
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" 
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" 
           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" 
           asp-route-heatId="@ViewContext.RouteData.Values["heatId"]" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
