@model Timataka.Core.Models.Dto.HeatDTO.MarkerDto

@{
    Layout = "_AdminLayout";
}

<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    <a asp-controller="Admin"
                       asp-action="Competition"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]">@Model.CompetitionName</a> /

                    <a asp-controller="Admin"
                       asp-action="CompetitionInstance"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]">@Model.CompetitionInstanceName</a> /

                    <a asp-controller="Admin"
                       asp-action="Event"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                       asp-route-eventId="@ViewContext.RouteData.Values["eventId"]">@Model.EventName</a> /

                    <a asp-controller="Admin"
                       asp-action="Heat"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                       asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
                       asp-route-heatId="@ViewContext.RouteData.Values["heatId"]">Heat @Model.HeatNumber</a> /

                    Markers
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Time</th>
                                                <th>Type</th>
                                                <th>Location</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AssignedMarkers)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.MarkerTime
                                                    </td>
                                                    <td>
                                                        @item.Type
                                                    </td>
                                                    <td>
                                                        @item.Location
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Heat"
                                                           asp-action="UnassignMarker"
                                                           asp-route-markerId="@item.Id"
                                                           asp-route-heatId="@ViewContext.RouteData.Values["heatId"]"
                                                           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                                                           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
                                                           class="btn btn-warning-outline btn-sm">Unassign</a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <form asp-action="AssignMarker"
                  asp-route-heatId="@ViewContext.RouteData.Values["heatId"]"
                  asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                  asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                  asp-route-eventId="@ViewContext.RouteData.Values["eventId"]">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.AssingnMarkerToHeatViewModel.MarkerId">Available Markers</label>
                    <select name="MarkerId" class="form-control">
                        @foreach (var item in Model.MarkerList)
                        {
                            <option value="@item.Id" MarkerId="@item.Id">
                                @item.Type on @item.Location at @item.MarkerTime.TimeOfDay
                            </option>
                        }
                    </select>
                </div>
                <input type="hidden"
                       asp-for="@Model.AssingnMarkerToHeatViewModel.HeatId"
                       value="@ViewContext.RouteData.Values["heatId"]" />
                <div class="form-group">
                    <input type="submit" value="Assign" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="Admin"
           asp-action="Heat"
           asp-route-heatId="@ViewContext.RouteData.Values["heatId"]" 
           class="btn btn-secondary-outline btn-sm">Back to Contestants</a>
    </div>

</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
