@model IEnumerable<Timataka.Core.Models.Entities.Marker>

@{
    Layout = "_AdminLayout";
}

<section class="content">
    <div class="title-block">

        <div class="row">
            <div class="col-md-12">
                <span class="title"> Markers </span>
            </div>
        </div>
    </div>

    <h4>Markers</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Time</th>
                                                <th>Type</th>
                                                <th>Location</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Time
                                                    </td>
                                                    <td>
                                                        @item.Type
                                                    </td>
                                                    <td>
                                                        @item.Location
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Heat" asp-action="AssignMarker" asp-route-markerId="@item.Id" asp-route-heatId="@item.HeatId" class="btn btn-warning-outline btn-sm">Assign</a>
                                                        <a asp-controller="Heat" asp-action="EditMarker" asp-route-id="@item.Id" class="btn btn-warning-outline btn-sm">Edit</a>
                                                        <a asp-controller="Heat" asp-action="RemoveMarker" asp-route-id="@item.Id" class="btn btn-danger-outline btn-sm">Delete</a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>

