@model Timataka.Core.Models.ViewModels.ChipViewModels.ChipInHeatViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<section class="content">
    <h2>Delete</h2>

    <h3>Are you sure you want to remove this?</h3>
    <div>
        <h4>Chip In heat</h4>
        <hr />
        <dl>
            <dt>
                Name | HeatNumber | ChipCode
            </dt>
            <dd>
                @Model.LastUserName | @Model.HeatNumber | @Model.ChipCode
            </dd>
        </dl>

        <form asp-action="RemoveChip">
            <input type="hidden" asp-for="HeatId" value="@Model.HeatId" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <input type="hidden" asp-for="ChipCode" value="@Model.ChipCode" />
            <input type="submit" value="Delete" class="btn btn-primary" />
            <div>
                <a asp-controller="Heat" asp-action="Chips"
                   asp-route-heatId="@ViewContext.RouteData.Values["heatId"]"
                   asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
                   asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                   asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                   class="btn btn-secondary-outline btn-sm">Back to List</a>
            </div>
        </form>
    </div>
</section>
