@model Timataka.Core.Models.Entities.ContestantInHeat

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<section class="content">
    <h2>Delete</h2>

    <h3>Are you sure you want to remove this?</h3>
    <div>
        <h4>Contestant</h4>
        <hr />
        <dl>
            <dt>
                Name
            </dt>
            <dd>
                @ViewBag.Contestant.FirstName @ViewBag.Contestant.LastName
            </dd>
        </dl>

        <form asp-action="RemoveContestant"
               asp-route-heatId="@Model.HeatId"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]">
            <input type="hidden" asp-for="HeatId" value="@Model.HeatId" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            <a asp-controller="Admin" 
               asp-action="Heat" 
               asp-route-heatId="@Model.HeatId"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]">Back to List</a>
        </form>
    </div>
</section>
