@model Timataka.Core.Models.ViewModels.ContestantViewModels.SelectContestantViewModel

@{
    Layout = "_AdminLayout";
}

<section class="content">
    <div class="title-block" style="margin-bottom: 15px;">
        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    <a asp-controller="Admin"
                       asp-action="Competition"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]">@Model.CompetitionName</a> /

                    <a asp-controller="Admin"
                       asp-action="CompetitionInstance"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]">@Model.CompetitionInstanceName</a> /

                    <a asp-controller="Admin"
                       asp-action="Event"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                       asp-route-eventId="@ViewContext.RouteData.Values["eventId"]">@Model.EventName</a> /

                    <a asp-controller="Admin"
                       asp-action="Heat"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                       asp-route-eventId="@ViewContext.RouteData.Values["eventId"]">Heat @Model.HeatNumber</a> /

                    Add Contestant
                </span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5">
            <form asp-action="SelectContestant" method="get" class="">
                <div class="input-group">
                    <input type="text" name="Search" value="@ViewData["currentFilter"]" class="form-control boxed rounded-s" placeholder="Search for user...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            <nav class="text-right">
                <ul class="pagination">
                    <li class="page-item">
                        <a asp-controller="CompetitionInstance"
                           asp-action="SelectContestant"
                           asp-route-count="10"
                           asp-route-search="@ViewData["currentFilter"]"
                           class="page-link">10</a>
                    </li>
                    <li class="page-item">
                        <a asp-controller="CompetitionInstance"
                           asp-action="SelectContestant"
                           asp-route-count="25"
                           asp-route-search="@ViewData["currentFilter"]"
                           class="page-link">25</a>
                    </li>
                    <li class="page-item">
                        <a asp-controller="CompetitionInstance"
                           asp-action="SelectContestant"
                           asp-route-count="50"
                           asp-route-search="@ViewData["currentFilter"]"
                           class="page-link">50</a>
                    </li>
                    <li class="page-item">
                        <a asp-controller="CompetitionInstance"
                           asp-action="SelectContestant"
                           asp-route-count="100"
                           asp-route-search="@ViewData["currentFilter"]"
                           class="page-link">100</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top: 15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>SSN</th>
                                                <th>Username</th>
                                                <th>Gender</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Users)
                                            {

                                            <tr>
                                                <td>@item.FirstName @item.Middlename @item.LastName</td>
                                                <td>@item.Ssn</td>
                                                <td>@item.Username</td>
                                                <td>@item.Gender</td>
                                                <td>
                                                    <a asp-action="AddContestant"
                                                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                                                       asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
                                                       asp-route-userId="@item.Id"
                                                       class="btn btn-success-outline btn-sm">Select Contestant</a>
                                                </td>
                                            </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>