@model Timataka.Core.Models.Entities.Discipline

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<section class="content">

    <div>
        
        <div>
            <h4>@Model.Name</h4>
            <hr />
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>

        
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning-outline btn-sm">Edit</a>
        <a asp-controller="Admin" asp-action="Sports" asp-route-id="@Model.SportId" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>