@using Timataka.Core.Models.Entities
@model Timataka.Core.Models.ViewModels.CategoryViewModels.CategoryViewModel

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<section class="content">
    <h4>Edit Club</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgeFrom" class="control-label"></label>
                    <input asp-for="AgeFrom" class="form-control" />
                    <span asp-validation-for="AgeFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgeTo" class="control-label"></label>
                    <input asp-for="AgeTo" class="form-control" />
                    <span asp-validation-for="AgeTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select name="Gender" class="form-control">
                        @if (Model.Gender == Gender.Female)
                        {
                            <option selected value="0" id="">Female</option>
                            <option value="1" id="">Male</option>
                            <option value="2" id="">Both</option>
                    }
                    else if (Model.Gender == Gender.Male)
                    {
                            <option value="0" id="">Female</option>
                            <option selected value="1" id="">Male</option>
                            <option value="2" id="">Both</option>
                    }
                    else if (Model.Gender == Gender.Both)
                    {
                        <option value="0" id="">Female</option>
                        <option value="1" id="">Male</option>
                        <option selected value="2" id="">Both</option>
                    }

                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="EventId"></label>
                    <select name="EventId" class="form-control">
                        <option selected value="@Model.EventId" id="@Model.EventId">@Model.EventName</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CountryId"></label>
                    <select name="CountryId" class="form-control">
                        <option value="@Model.CountryId" id="@Model.CountryId">@Model.CountryName</option>
                        @foreach (var item in ViewBag.Nations)
    {
        if (item.Text != Model.CountryName)
        {
                    <option value="@item.Value" id="@item.Value">@item.Text</option>
}

}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Admin" asp-action="Categories" asp-route-id="@Model.EventId" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

