@model IEnumerable<Timataka.Core.Models.ViewModels.HomeViewModels.ResultViewModel>

@{
    Layout = "_UserLayout";
}
<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    Results
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Rank</th>
                                                <th>BIB</th>
                                                <th>Name</th>
                                                <th>Year</th>
                                                <th>Club</th>
                                                <th>Country</th>
                                                <th>Guntime (Chiptime)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i = 1;}
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                            <td>
                                                @{if (item.GunTime != "" && item.Status == 0)
                                                    {
                                                        @i
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @item.Bib
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.DateOfBirth.Year
                                            </td>
                                            <td>
                                                @item.Club
                                            </td>
                                            <td>
                                                @item.Country
                                            </td>
                                            <td>
                                                @{if (item.RawGunTime > 0 && item.Status == 0)
                                                    {@item.GunTime @(" (" + item.ChipTime + ")")}
                                                else if (item.Status != 0)
                                                    {@item.Status};
                                                }
                                            </td>
                                            </tr>
                                                    i++;
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <a asp-controller="User" 
       asp-action="EventsResults" 
       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" 
       class="btn btn-secondary-outline btn-sm">Back to events</a>

</section>

