@model Timataka.Core.Models.Dto.CompetitionInstanceDTO.ContestantsInCompetitionInstanceDTO

@{
    Layout = "_AdminLayout";
}
<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    <a asp-controller="Admin"
                       asp-action="Competition"
                       asp-route-competitionId="@Model.Competition.Id">@Model.Competition.Name</a> /

                    <a asp-controller="Admin"
                       asp-action="CompetitionInstance"
                       asp-route-competitionId="@Model.Competition.Id"
                       asp-route-competitionInstanceId="@Model.CompetitionInstance.Id">@Model.CompetitionInstance.Name</a> / 
                    
                    <a asp-controller="Admin"
                       asp-action="Event"
                       asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                       asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                       asp-route-eventId="@ViewContext.RouteData.Values["eventId"]">@ViewBag.EventName</a> /

                    Contestants
                </span>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-7">
            <a asp-controller="Event"
               asp-action="AddContestant"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
               class="btn btn-success btn-sm rounded-s">Add Contestant</a>
            <a asp-controller="Admin"
               asp-action="Event"
               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
               class="btn btn-primary btn-sm rounded-s">Heats</a>
            <a asp-controller="Event"
               asp-action="Devices"
               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
               class="btn btn-primary btn-sm rounded-s">Devices</a>
            <a asp-controller="Admin"
               asp-action="Categories"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
               class="btn btn-primary btn-sm rounded-s">Categories</a>
        </div>
        <div class="col-md-5">
            <form asp-action="Contestants" method="get" class="">
                <div class="input-group">
                    <input type="text" name="Search" value="@ViewData["currentFilter"]" class="form-control boxed rounded-s" placeholder="Search for user by Name...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Gender</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Contestants)
                                            {

                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.Gender</td>
                                                    <td>
                                                        <a asp-controller="CompetitionInstance" asp-action="EditContestantInEvent"
                                                           asp-route-userId="@item.Id"
                                                           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                                                           asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
                                                           class="btn btn-warning-outline btn-sm">Edit Contestant</a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>
