@model Timataka.Core.Models.ViewModels.EventViewModels.EventViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<section class="content">

    <h4>Create Event</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create"
                 asp-controller="Event"
                 asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                 asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CompetitionInstanceId" value="@ViewContext.RouteData.Values["competitionInstanceId"]" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select name="Gender" class="form-control">
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                        <option value="2">All</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateFrom" class="control-label"></label>
                    <input asp-for="DateFrom" class="form-control" />
                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateTo" class="control-label"></label>
                    <input asp-for="DateTo" class="form-control" />
                    <span asp-validation-for="DateTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Laps" class="control-label"></label>
                    <input asp-for="Laps" class="form-control" />
                    <span asp-validation-for="Laps" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Splits" class="control-label"></label>
                    <input asp-for="Splits" class="form-control" />
                    <span asp-validation-for="Splits" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DistanceOffset" class="control-label"></label>
                    <input asp-for="DistanceOffset" class="form-control" />
                    <span asp-validation-for="DistanceOffset" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartInterval" class="control-label"></label>
                    <input asp-for="StartInterval" class="form-control" />
                    <span asp-validation-for="StartInterval" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="CourseId"></label>
                    <select name="CourseId" class="form-control">
                        @foreach (var item in ViewBag.Courses)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ActiveChip" class="control-label"></label>
                    <select name="ActiveChip" class="form-control">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span asp-validation-for="ActiveChip" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DisciplineId"></label>
                    <select name="DisciplineId" class="form-control">
                        @foreach (var item in ViewBag.Disciplines)
                        {
                        <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="DisciplineId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>

        <a asp-controller="Admin"
           asp-action="CompetitionInstance"
           asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
           asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
           class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>

</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
