@model IEnumerable<Timataka.Core.Models.ViewModels.CategoryViewModels.CategoryViewModel>

@{
    Layout = "_AdminLayout";
}
<section class="content">
    <div class="title-block">

        <div class="row">
            <div class="col-md-12">
                <span class="title"> Categories </span>
                <a asp-controller="Category" asp-action="Create" asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" class="btn btn-primary btn-sm rounded-s"> Add Category </a>
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Age</th>
                                                <th>Gender</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.AgeFrom - @item.AgeTo
                                                    </td>
                                                    <td>
                                                        @item.Gender
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Category" asp-action="Edit" asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" asp-route-categoryId="@item.Id" class="btn btn-warning-outline btn-sm">Edit</a>
                                                        <a asp-controller="Category" asp-action="Details" asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" asp-route-categoryId="@item.Id" class="btn btn-success-outline btn-sm">Details</a>
                                                        <a asp-controller="Category" asp-action="Delete" asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" asp-route-categoryId="@item.Id" class="btn btn-danger-outline btn-sm">Delete</a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div>
        <a asp-controller="Admin" asp-action="Event" asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]" asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]" asp-route-eventId="@ViewContext.RouteData.Values["eventId"]" class="btn btn-secondary-outline btn-sm">Back to Event</a>
    </div>

</section>

