@model IEnumerable<Timataka.Core.Models.Entities.Club>

@{
    ViewData["Title"] = "Clubs";
    Layout = "_AdminLayout";
}
<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title"> Clubs </span>
                <a class="btn btn-primary btn-sm rounded-s" asp-controller="Club" asp-action="Create">Create New</a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            <form asp-action="Clubs" method="get" >
                <div class="input-group">
                    <input type="text" name="Search" value="" class="form-control boxed rounded-s" placeholder="Search for clubs...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Name Abbr.</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                if (item.Deleted == false)
                                                {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.NameAbbreviation</td>
                                                <td>
                                                    <a class="btn btn-warning-outline btn-sm" asp-controller="Club" asp-action="Edit" asp-route-clubId="@item.Id">Edit</a>
                                                    <a class="btn btn-success-outline btn-sm" asp-controller="Club" asp-action="Details" asp-route-clubId="@item.Id">Details</a>
                                                    <a class="btn btn-danger-outline btn-sm" asp-controller="Club" asp-action="Delete" asp-route-clubId="@item.Id">Delete</a>
                                                </td>
                                            </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
