@model IEnumerable<Timataka.Core.Models.Entities.Competition>

@{
    ViewBag.Title = "Competitions";
    Layout = "_AdminLayout";
}
<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title"> Competitions </span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-7 pt-2">
            <a asp-controller="Competition" asp-action="Create" class="btn btn-success btn-sm rounded-s"> Create New </a>
        </div>
        <div class="col-md-5">
            <form asp-action="Competitions" method="get">
                <div class="input-group">
                    <input type="text" name="Search" value="" class="form-control boxed rounded-s" placeholder="Search for competition...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Sponsor</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var comp in Model)
                                            {
                                                if (comp.Deleted == false)
                                                {
                                            <tr>
                                                <td>
                                                    <a asp-controller="Admin" asp-action="Competition" asp-route-competitionId="@comp.Id">@comp.Name</a>
                                                </td>
                                                <td>
                                                    @comp.Sponsor
                                                </td>
                                                <td>
                                                    <a asp-controller="Competition" asp-action="Edit" asp-route-competitionId="@comp.Id" class="btn btn-warning-outline btn-sm">Edit</a>
                                                    <a asp-controller="Competition" asp-action="Details" asp-route-competitionId="@comp.Id" class="btn btn-success-outline btn-sm">Details</a>
                                                    <!--<a asp-controller="Competition" asp-action="Delete" asp-route-competitionId="@comp.Id" class="btn btn-danger-outline btn-sm">Delete</a>-->
                                                </td>
                                            </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>
