@model Timataka.Core.Models.Dto.AdminDTO.UserDto

@{
    ViewBag.Title = "Edit User";
    Layout = "_AdminLayout";
}


<section class="content">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Middlename"></label>
                    <input asp-for="Middlename" class="form-control" />
                    <span asp-validation-for="Middlename" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    @if (Model.Gender == "female" || Model.Gender == "Female")
                    {
                        <select name="Gender" class="form-control">
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    }
                    else
                    {
                        <select name="Gender" class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    }
                </div>

                <div class="form-group">
                    <label asp-for="Country"></label>
                    <select name="CountryId" class="form-control" id="country-select">
                        <option value="@Model.CountryId"> @Model.Country </option>
                        @foreach (var item in ViewBag.Nations)
                        {
                            <option value="@item.Value" id="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="NationalityId"></label>
                    <select name="NationalityId" class="form-control">
                        <option value="@Model.NationalityId"> @Model.Nationality </option>
                        @foreach (var item in ViewBag.Nationalities)
                        {
                            <option value="@item.Value" id="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group" id="ssn-display">
                    <label asp-for="Ssn"></label>
                    <input asp-for="Ssn" class="form-control" />
                    <span asp-validation-for="Ssn" class="text-danger"></span>
                </div>

                <div class="form-group" id="dateOfBirth-display">
                    <label asp-for="DateOfBirth"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="Admin" asp-action="Users" class="btn btn-secondary-outline btn-sm">Back to List</a>
    </div>
</section>