@model Timataka.Core.Models.Dto.AdminDTO.EventDto

@{
    Layout = "_AdminLayout";
}
<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    <a asp-controller="Admin"
                       asp-action="Competition"
                       asp-route-competitionId="@Model.Competition.Id">@Model.Competition.Name</a> /

                    <a asp-controller="Admin"
                       asp-action="CompetitionInstance"
                       asp-route-competitionId="@Model.Competition.Id"
                       asp-route-competitionInstanceId="@Model.CompetitionInstance.Id">@Model.CompetitionInstance.Name</a> /

                    @Model.Event.Name
                </span>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a asp-controller="Heat"
               asp-action="Create"
               asp-route-eventId="@Model.Event.Id"
               class="btn btn-success btn-sm rounded-s">Add Heat</a>

            <a asp-controller="Event"
               asp-action="Devices"
               asp-route-eventId="@Model.Event.Id"
               class="btn btn-primary btn-sm rounded-s">Devices</a>

            <a asp-controller="Admin"
               asp-action="Categories"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-eventId="@Model.Event.Id"
               class="btn btn-primary btn-sm rounded-s">Categories</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Heat</th>
                                                <th>Number of Contestants</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Heats)
                                            {
                                                if (item.Deleted == false)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a asp-controller="Admin" 
                                                               asp-action="Heat"
                                                               asp-route-heatId="@item.Id" 
                                                               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
                                                               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                                                               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]">Heat @item.HeatNumber</a>
                                                        </td>
                                                        <td>
                                                            @item.NumberOfContestants
                                                        </td>
                                                        <td>
                                                            <a asp-controller="Heat" 
                                                               asp-action="Edit" 
                                                               asp-route-heatId="@item.Id" 
                                                               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
                                                               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                                                               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                               class="btn btn-warning-outline btn-sm">Edit</a>

                                                            <a asp-controller="Heat" 
                                                               asp-action="Delete" 
                                                               asp-route-heatId="@item.Id" 
                                                               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
                                                               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
                                                               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
                                                               class="btn btn-danger-outline btn-sm">Delete</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>

