@model Timataka.Core.Models.Dto.AdminDTO.HeatDto

@{
    Layout = "_AdminLayout";
}
<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">

                <span class="title">
                    <a asp-controller="Admin"
                       asp-action="Competition"
                       asp-route-competitionId="@Model.Competition.Id">@Model.Competition.Name</a> /

                    <a asp-controller="Admin"
                       asp-action="CompetitionInstance"
                       asp-route-competitionId="@Model.Competition.Id"
                       asp-route-competitionInstanceId="@Model.CompetitionInstance.Id">@Model.CompetitionInstance.Name</a> /

                    <a asp-controller="Admin"
                       asp-action="Event"
                       asp-route-competitionId="@Model.Competition.Id"
                       asp-route-competitionInstanceId="@Model.CompetitionInstance.Id"
                       asp-route-eventId="@Model.Event.Id">@Model.Event.Name</a> /

                    Heat Number @Model.Heat.HeatNumber
                </span>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <form asp-action="Heat" method="get" class="">
                <div class="input-group">
                    <input type="text" name="Search" value="" class="form-control boxed rounded-s" placeholder="Search for contestants in heat...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-7">
            <a asp-controller="Heat" asp-action="AddContestant" asp-route-heatId="@Model.Heat.Id" class="btn btn-primary btn-sm rounded-s"> Add Contestant </a>
            <a asp-controller="Heat" asp-action="Markers" asp-route-heatId="@Model.Heat.Id" class="btn btn-primary btn-sm rounded-s"> Markers </a>
            <a asp-controller="Heat" asp-action="Chips"
               asp-route-heatId="@Model.Heat.Id"
               asp-route-eventId="@ViewContext.RouteData.Values["eventId"]"
               asp-route-competitionInstanceId="@ViewContext.RouteData.Values["competitionInstanceId"]"
               asp-route-competitionId="@ViewContext.RouteData.Values["competitionId"]"
               class="btn btn-primary btn-sm rounded-s">Chips</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>BIB</th>
                                                <th>Contestants</th>
                                                <th>SSN</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Contestants)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Bib
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.Ssn
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Heat" asp-action="EditContestant" asp-route-userId="@item.UserId" asp-route-heatId="@item.HeatId" class="btn btn-warning-outline btn-sm">Edit</a>
                                                        <a asp-controller="Heat" asp-action="DetailsContestant" asp-route-userId="@item.UserId" asp-route-heatId="@item.HeatId" class="btn btn-success-outline btn-sm">Details</a>
                                                        <a asp-controller="Heat" asp-action="RemoveContestant" asp-route-userId="@item.UserId" asp-route-heatId="@item.HeatId" class="btn btn-danger-outline btn-sm">Delete</a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</section>

