@using Timataka.Core.Models.Dto.AdminDTO
@model Timataka.Core.Models.Dto.AdminDTO.PersonnelDto

@{
    ViewBag.Title = "Personnel";
    ViewBag.SubTitle = "Manage personnel";
    Layout = "_AdminLayout";
}


<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title">
                    <a asp-controller="Admin"
                       asp-action="Competition"
                       asp-route-competitionId="@Model.Competition.Id">@Model.Competition.Name</a> /
                    Personnel
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>SSN</th>
                                                <th>Role</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AssignedRoles)
                                            {
                                            <tr>
                                                <td>@item.FirstName @item.MiddleName @item.LastName</td>
                                                <td>@item.Ssn</td>
                                                <td>@item.Role</td>
                                                <td>
                                                    <a asp-controller="Competition"
                                                       asp-action="EditManager"
                                                       asp-route-competitionId="@item.CompetitionId"
                                                       asp-route-userId="@item.UserId"
                                                       class="btn btn-warning-outline btn-sm">Edit</a>

                                                    <a asp-controller="Competition"
                                                       asp-action="DeleteManager"
                                                       asp-route-competitionId="@item.CompetitionId"
                                                       asp-route-userId="@item.UserId"
                                                       class="btn btn-danger-outline btn-sm">Delete</a>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <form asp-action="Personnel" method="get">
                <div class="input-group">
                    <input type="text" name="Search" value="@ViewData["currentFilter"]" class="form-control boxed rounded-s" placeholder="Search for user to assign to role...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Username</th>
                                                <th>SSN</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model.Users)
                                            {
                                                
                                                <tr>
                                                    <td>@user.FirstName @user.Middlename @user.LastName</td>
                                                    <td>@user.Username</td>
                                                    <td>@user.Ssn</td>
                                                    <td>
                                                        <a asp-action="AddRole" 
                                                           asp-controller="Competition" 
                                                           asp-route-competitionId="@Model.Competition.Id" 
                                                           asp-route-userId="@user.Id" 
                                                           class="btn btn-success-outline btn-sm">Assign</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</section>
