@using Timataka.Core.Models.Entities
@model Timataka.Core.Models.Dto.AdminDTO.UserRoleDto

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<section class="content">

    <div class="title-block" style="margin-bottom:15px;">
        <div class="row">
            <div class="col-md-12">
                <span class="title"> User Roles </span>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Acions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Admins)
                                        {
                                            
                                            <tr>
                                                
                                                    <td style="width: 25%">@item.FirstName @item.LastName</td>
                                                    <td style="width: 25%">@item.Username</td>
                                                    <td style="width: 25%">@item.Role</td>
                                                    <th style="width: 25%">
                                                        <a asp-action="RemoveRole" asp-route-id="@item.Id" class="btn btn-danger-outline btn-sm">Remove</a>
                                                    </th>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <form asp-action="Roles" method="get">
                <div class="input-group" style="margin-top:10px;">
                    <input type="text" name="Search" value="@ViewData["currentFilter"]" class="form-control boxed rounded-s" placeholder="Search for non admin user...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="section">
                    <div class="col-md-12">
                        <div class="card" style="margin-top:15px;">
                            <section class="example">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Acions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Users)
                                        {
                                            <tr>
                                                    <td style="width: 25%">@item.FirstName @item.LastName</td>
                                                    <td style="width: 25%">@item.Username</td>
                                                    <td style="width: 25%">@item.Role</td>
                                                    <th style="width: 25%">
                                                        <a asp-action="AddRole" asp-route-id="@item.Id" class="btn btn-success-outline btn-sm">Assign</a>
                                                    </th>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</section>
