@model List<Timataka.Core.Models.ViewModels.AdminViewModels.SportsViewModel>

@{
    ViewData["Title"] = "Sports";
    Layout = "_AdminLayout";
}
<section class="content">

    <h2>Sports</h2>

    <p>
        <a asp-controller="Sports" asp-action="Create">New Sport</a> 
        <a asp-controller="Discipline" asp-action="Create">New Discipline</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Sport
                </th>
                <th>
                    Discipline
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.IsSport)
                {
                    <tr>
                        <td>@item.SportName</td>
                        <td></td>
                        <td>
                            <a asp-controller="Sports" asp-action="Edit" asp-route-id="@item.SportId">Edit</a> |
                            <a asp-controller="Sports" asp-action="Details" asp-route-id="@item.SportId">Details</a> |
                            <a asp-controller="Sports" asp-action="Delete" asp-route-id="@item.SportId">Delete</a>
                        </td>
                    </tr>
                }

                @foreach (var discipline in Model)
                {
                    @if ((discipline.IsSport == false) && (discipline.SportId == item.SportId) && item.IsSport)
                    {
                        <tr>
                            <td></td>
                            <td>@discipline.DisciplineName</td>
                            <td>
                                <a asp-controller="Discipline" asp-action="Edit" asp-route-id="@discipline.DisciplineId">Edit</a> |
                                <a asp-controller="Discipline" asp-action="Details" asp-route-id="@discipline.DisciplineId">Details</a> |
                                <a asp-controller="Discipline" asp-action="Delete" asp-route-id="@discipline.DisciplineId">Delete</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</section>
