@using Timataka.Core.Models.Dto.AdminDTO
@model IEnumerable<Timataka.Core.Models.Dto.AdminDTO.UserDto> 

@{
    ViewBag.Title = "Users";
    ViewBag.SubTitle = "Manage users";
    Layout = "_AdminLayout";
}


<section class="content">
    <div class="title-block" style="margin-bottom:15px;">

        <div class="row">
            <div class="col-md-12">
                <span class="title"> Users </span>
                <a class="btn btn-primary btn-sm rounded-s" asp-controller="Account" asp-action="Register" >Register New</a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-5">
            <form asp-action="Users" method="get" class="">
                <div class="input-group">
                    <input type="text" name="Search" value="@ViewData["currentFilter"]" class="form-control boxed rounded-s" placeholder="Search for user...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary rounded-s btn-lg" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    <div class="col-md-7">
        <nav class="text-right">
            <ul class="pagination">
                <li class="page-item">
                    <a asp-controller="Admin"
                       asp-action="Users"
                       asp-route-count="10"
                       asp-route-search="@ViewData["currentFilter"]"
                       class="page-link"> 10 </a>
                </li>
                <li class="page-item">
                    <a asp-controller="Admin"
                       asp-action="Users"
                       asp-route-count="25"
                       asp-route-search="@ViewData["currentFilter"]"
                       class="page-link"> 25 </a>
                </li>
                <li class="page-item">
                    <a asp-controller="Admin"
                       asp-action="Users"
                       asp-route-count="50"
                       asp-route-search="@ViewData["currentFilter"]"
                       class="page-link"> 50 </a>
                </li>
                <li class="page-item">
                    <a asp-controller="Admin"
                       asp-action="Users"
                       asp-route-count="100"
                       asp-route-search="@ViewData["currentFilter"]"
                       class="page-link"> 100 </a>
                </li>
            </ul>
        </nav>
    </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                    <section class="section">
                        <div class="col-md-12">
                            <div class="card" style="margin-top:15px;">
                                <section class="example">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Username</th>
                                                    <th>DOB</th>
                                                    <th>Country</th>
                                                    <th>Gender</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @user.FirstName @user.Middlename @user.LastName
                                                            
                                                        </td>
                                                        <td>@user.Username</td>
                                                        <td>@user.DateOfBirth.ToString("dd/MM/yyyy")</td>
                                                        <td>@user.Country</td>
                                                        <td>@user.Gender</td>
                                                        <td>
                                                            <a asp-action="EditUser" asp-route-id="" asp-route-username="@user.Username" class="btn btn-warning-outline btn-sm">Edit</a>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>


</section>
